<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codermy.myspringsecurityplus.admin.dao.DictDao">


    <sql id="selectDictVo">
        select di.dict_id,di.dict_name,di.description,di.sort,di.create_by,di.create_time,di.update_by,di.update_time
        from sys_dict di
    </sql>

    <select id="getFuzzyDictByPage" resultType="com.codermy.myspringsecurityplus.admin.entity.SysDict">
        <include refid="selectDictVo"/>
        <where>
            <if test="dictName != null and dictName != ''">
                AND di.dict_name like CONCAT('%', #{dictName}, '%')
            </if>
            AND di.enabled = 1
        </where>

    </select>

    <select id="getDictByName" parameterType="string" resultType="com.codermy.myspringsecurityplus.admin.entity.SysDict">
        <include refid="selectDictVo"/>
        where di.dict_name = #{dictName} AND di.enabled = 1
    </select>


    <update id="updateDict" parameterType="com.codermy.myspringsecurityplus.admin.entity.SysDict">
        update sys_dict
        <set>
            <if test="dictName != null and dictName != ''">dict_name = #{dictName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="sort != null and sort != ''">sort = #{sort},</if>
        </set>
        where dict_id = #{dictId}
    </update>


    <update id="deleteDictByIds" parameterType="map">
        update sys_dict
        set enabled = 0
        where dict_id in
        <foreach collection="dictIds" item="dictId" open="(" separator="," close=")">
            #{dictId}
        </foreach>
    </update>
</mapper>
